<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Draft Page</title>
 	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
</style>
</head>
<body>
<div class="w3-container w3-sand w3-lobster w3-xxlarge w3-center">
<img src="../static/images/logo2.png" height="60px" style="margin-top: 10px"><br>
	Analyzing Newspaper Content
</div>
<div class="w3-bar w3-black">
	<a class="w3-bar-item w3-button w3-mobile" href="#">About</a>
	<a class="w3-bar-item w3-button w3-mobile" href="#">Tool 1</a>
	<a class="w3-bar-item w3-button w3-mobile" href="#">Tool 3</a>
	
</div>
</body>
</html>